
@media only screen and (max-width: 1300px) { 
	.header-socials {
		right: -30px;
	}
}

@media only screen and (max-width: 1200px) {
	
	.navbar .navbar-nav {
		font-size: 14px;
	}
	.navbar .navbar-nav > li > a {
		padding-left: 5px;
		padding-right: 5px;
	}

	.navbar-fixed-top .navbar-collapse {
		max-height: none;
	}

	.header-socials {
		right: -20px;
	}
	.header-socials a {
		margin-right: 10px;
	}

}

@media only screen and (max-width: 991px) {

	#main-carousel:before {
		background-size: 60% 60%;
	}

	 .logo {
		width: 80%;
		border-width: 15px !important;
	}

	.header-socials {
		right: -30px;
	}

	.our-menu .col-md-4 {
		margin-top: 40px;
	}

	.our-menu .col-md-4:first-child .menu-inner {
		min-height: auto;
	}

	.our-menu .col-md-4:first-child h5 {
	    padding: 70px 30px 80px 30px;
	}
	
}

@media only screen and (max-width: 891px) {
	.header-socials {
		right: -20px;
	}

	
}

@media only screen and (max-width: 767px) {
	.header_address-line {
		top: 52px;
		background-color: rgba(251, 119, 34, 0.9);
        background-image: none;   
        padding: 10px 0;
	}

	.header_address-line p {
		font-size: 16px;
		text-align: center;
	}

	.header-socials {
		right: auto;
		left: 30px;
	}

	#socials-carousel .social-inner {
		min-height: auto;
	}

	.two-big-image [class*="col-"] {
		height: 350px;
	}
}



@media only screen and (max-width: 650px) {
	#main-carousel,
	#main-carousel .main-carousel_content {
		height: 90vh;

	}

	.header-banner img {
		width: 90%;
	}


	.our-menu .col-md-4:first-child h5 {
	    padding: 30px;
	}
}

@media only screen and (max-width: 414px) {
	
}

@media only screen and (max-width: 320px) {
	
}